<h1>Details</h1>
<p><%= @task.title%> - [<%= @task.status%>] - Created on: <%= @task.created_at%></p>
<p>
-
<%= link_to "Back", tasks_path %>
---
<%= link_to "Edit", edit_task_path %>
---
<%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
-
</p>

